# Vim
*.sw[op]

# Gradle
.gradle
.nb-gradle/private/
/build/

# IDEA
.idea
!.idea/codeStyleSettings.xml
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/
bin

# Maven
log/
target/

# Output
database
logs
test_db

# Mac
.DS_Store
